body.gift-card {
    .gc-header {
        padding: 6rem 0 3rem;
        h1 {
            color: $xmas-tertiary;
        }
    }
    .gc-blurb {
        background-image: url("../img/presentkort-page.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 30rem;
        @include media-breakpoint-only(xs) {
            height: 7rem;
        }
        @include media-breakpoint-only(sm) {
            height: 8rem;
        }
        @include media-breakpoint-only(md) {
            height: 20rem;
        }
        .col {
            position: relative;
            color: $white;
            p {
                padding: 0 2rem;
                font-size: $font-size-h2;
            }
            .snowflake-icon {
                color: $gray-lighter;
                position: absolute;
                &:nth-of-type(1) {
                    top: 0;
                    left: 0;
                    transform: translate(-50%, 0);
                }
                &:nth-of-type(2) {
                    bottom: 0;
                    right: 0;
                    transform: translate(-100%, 0);
                }
                &:nth-of-type(3) {
                    bottom: -1rem;
                    left: .5rem;
                }
                &:nth-of-type(4) {
                    top: 0;
                    right: 0;
                    transform: translate(50%, -50%);
                }
                @include media-breakpoint-only(xs) {
                    &:nth-of-type(1) {
                        transform: translate(100%, 0);
                    }
                    &:nth-of-type(2) {
                        transform: translate(-100%, 120%);
                    }
                    &:nth-of-type(3) {
                        transform: translate(100%, 100%);
                    }
                    &:nth-of-type(4) {
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
    .gc-body {
        padding-top: 5rem;
        h2 {
            color: #000;
        }
        p {
            font-size: $font-size-h3;
        }
        label,
        th {
            font-weight: 600;
            color: #000;
        }
        .benefits {
            .col {
                &.green-pie {
                    color: $brand-success;
                }
                &.gray-pie {
                    color: $gray-light;
                }
                svg {
                    display: inline-block;
                }
                >div {
                    font-weight: 500;
                    font-size: 1.875rem;
                    .percent {
                        font-size: 1.125rem;
                    }
                }
            }
            .asterisk {
                color: $gray-light;
            }
        }
        .connected-schools {
            .table-container {
                text-align: center;
                .schools-table {
                    position: relative;
                    margin-top: 2rem;
                    width: 100%;
                    &.searching:after {
                        position: absolute;
                        display: block;
                        content: "";
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: $white;
                        opacity: .5;
                    }
                    .loader-indicator {
                        position: absolute;
                        left: 50%;
                        top: calc(50% + .75rem);
                        z-index: 1;
                        transform: translate(-50%, -50%); // background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, # 30%, #4F7FC1 100%);
                    }
                }
            }
            tr+tr {
                .name,
                .location {
                    padding: .75rem 0;
                }
                .name {
                    font-size: $font-size-h3;
                    font-weight: 600;
                }
                .location {
                    font-weight: 500;
                }
                &.school-row,
                &.no-schools {
                    border-bottom: 1px solid $gray-lighter;
                }
                &.no-schools>td {
                    text-align: center;
                    color: $gray-light;
                    font-weight: 500;
                    padding: .5rem 0 1rem;
                }
            }
            .selected-school {
                width: 100%;
                margin-bottom: 1rem;
                .name,
                .rating {
                    padding-top: 0;
                }
            }
        }
    }
}
