#page-header.landing {
    @include media-breakpoint-up('sm') {
        position: absolute;
    }
    @include media-breakpoint-down('sm') {
        box-shadow: none;
    }

    .page-header-inner {

        .header-brand .brand-logo {
            @include media-breakpoint-up('md') {
                margin-top: 0.5rem;
            }
        }

        > .header-item-adjust .header-item-row {
            @include media-breakpoint-up('xl') {
                float: left;
            }

            &:first-child .navbar-nav {
                margin-top: 0.75rem;

            }

            &:last-child {
                @include media-breakpoint-up('xl') {
                    float: right;
                }
            }
        }

        .header-item {
            border-style: none;

            .dropdown { // only for the menu dropdown
                .nav-link {
                    @include plain-hover-focus {
                        color: $nav-tabs-active-link-hover-color;
                        //   background-color: $nav-tabs-active-link-hover-bg;
                        border-color: $nav-tabs-active-link-hover-border-color $nav-tabs-active-link-hover-border-color transparent;
                    }
                }
            }
        }

        .btn-outline-primary,
        .btn-outline-success,
        .btn-outline-gray,
        .btn-outline-dark {
            @extend .btn-outline-light;

            &:hover {
                color: $gray-dark;
            }
        }
        .btn-outline-dark {
            @extend .btn-outline-light;

            &:hover {
                color: $gray-dark;
            }
        }
    }

    &.collapsed .page-header-inner {
        background-color: $color-main-bg !important;
    }

    .nav-user {
        color: $white;
    }
}

#landing {
    display: flex;
    flex-direction: column;
}

.btn-search {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    @include media-breakpoint-up('md') {
        justify-content: end;
        margin-top: 0;
    }

    @include media-breakpoint-up('lg') {
        margin-top: 40px;
    }

    button {   
        @include media-breakpoint-down('md') {
            width: 164px !important;
            height: 48px;
            font-family: "Open Sans", serif !important;
            font-size: 14px !important;
            font-weight: 600;
        }
    }
}

.tillsammans {
    margin-bottom: 3rem;

    .tillsammans-header {
        margin-top: 88px;
        margin-bottom: 1.5rem;
        color: $heading-dark;
        font-family: "Roboto" !important;
        font-size: 35px;
        font-weight: 900;
        letter-spacing: 0;
        line-height: 41px;
        text-align: center;
    }

    .imgcont {
        height: 80px;
        padding: 0 16px;
    }

    p {
        margin-top: 24px;
        color: #0F0F0F;
        font-family: "Open Sans";
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
        padding: 0px 12px 0px 12px;
    }
}

.landing-block-row {
    text-align: left;
    padding: 1rem 0;

    @include media-breakpoint-up("md") {
        display: grid;
        column-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    @include media-breakpoint-up("lg") {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 6rem;
    }
}

.landing-block-row-2 {
    @include media-breakpoint-up("md") {
        display: grid;
        column-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        margin-bottom: 6rem;
    }
}

.landing-block {
   display: flex;
   flex-direction: column;
   padding-bottom: 16px;

   .landing-block-img-wrapper + .landing-block-card {
        @include media-breakpoint-up("lg") {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
   }

   .landing-block-card {
       display: flex;
       flex-direction: column;
       flex-grow: 1;
       background-color: #000;
       border-radius: 5px;
       color: #fff; 
       padding: 40px $padding-default 32px;
   
       .landing-block-content {
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           height: 100%;
       }
   
       .landing-block-image {
           object-fit: contain;
           height: auto;
           width: 100%;
       }
   
       .landing-block-button-wrapper {
           display: flex;
           justify-content: center;

            a:not(:first-of-type) {
                margin-left: 1rem;
            }
   
           @include media-breakpoint-up("md") {
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                a:not(:first-of-type) {
                    margin-left: 0;
                }
           }
       }
   }
    .landing-block-card.landing-block-card-bottom {
        padding: 0 0 32px;
    }
}


.landing-block-img-wrapper {
    $img-size: 256px;
    $img-size-md-up: 300px;
    $bottom-offset: 32px;

    position: relative;
    height: $img-size - $bottom-offset;
    display: flex;
    justify-content: center;
    
    .landing-block-img {
        position: absolute;
        bottom: -#{$bottom-offset};
        width: $img-size;
        height: $img-size;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &.contain {
            background-size: contain;
        }
    }

    @include media-breakpoint-up("sm") {      
        height: $img-size-md-up - $bottom-offset;

        .landing-block-img {
            width: $img-size-md-up;
            height: $img-size-md-up;
        }
    }

    @include media-breakpoint-up("lg") {
        height: $img-size-md-up;

        .landing-block-img {
            position: relative;
            bottom: 0;
            width: 100%;
            height: $img-size-md-up;
            border-radius: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
}

.landing-block-h2 {
    @include media-breakpoint-down('xs') {
        text-align: left;
        color: #FFFFFF;
        font-family: 'Roboto' !important;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 25px;
    }
}

.landing-block-h3 {
    @include media-breakpoint-up('xs') {
        font-size: 1.25rem;
        font-weight: 300;
    }

    @include media-breakpoint-down('xs') {
        color: #FFFFFF;
        font-family: 'Open Sans' !important;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 19px;
    }
}

#cities > input.search,
#cities-2 > input.search,
#schools > input.search {
    position: absolute;
    padding: 0 0 0 36px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 0 !important;
    caret-color: transparent;
}

#cities > input.search, #cities-2 > input.search {
    z-index: 2;
}

#cities {
    @include media-breakpoint-up("lg") {
        margin-top: 8px;
        margin-left: 0;
        margin-right: 0;
    }
}

#landing {
    .road {
        &-right {
            flex-direction: row-reverse;

            @include media-breakpoint-up("md") {
                position: absolute;
                top: 20px;
                right: 0;
                margin-top: 0;
                margin-right: 0;
            }
        }

        &-left {
            margin-top: 130px;
            margin-bottom: 105px;

            @include media-breakpoint-up("sm") {
                position: absolute;
                left: 0;
                top: calc(100vh + 480px);
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
            }

            @include media-breakpoint-up("md") {
                top: 100vh;
            }

            @include media-breakpoint-up("lg") {
                top: calc(100vh + 360px);
            }

            @include media-breakpoint-up("xl") {
                top: calc(100vh - 100px);
            }

            @include media-breakpoint-up("xxl") {
                top: 100vh;
            }
        }
    }

    .license-front {
        position: absolute;
        top: 500px;
        left: -40px;
        width: 340px;
        height: 216px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(20deg);
        opacity: .7;
        background-image: url(/build/img/license-front.png);
    
        @include media-breakpoint-up("sm") {
            top: calc(100vh - 330px);
        }

        @include media-breakpoint-up("md") {
            top: 460px;
        }

        @include media-breakpoint-up("lg") {
            top: 500px;
            left: -50px;
            width: 440px;
            height: 279px;
        }

        @include media-breakpoint-up("xl") {
            top: 120px;
            left: -130px;
            width: 330px;
            height: 209px;
        }

        @include media-breakpoint-up("xxl") {
            top: 130px;
            left: -50px;
            width: 440px;
            height: 279px;
        }
    }

    #landing-hero {
        margin: 40px 0;

        h1 {
            margin-bottom: 0;
            font-size: 40px;
            font-weight: 900;
            letter-spacing: 0;
            line-height: 40px;
            color: $heading-dark;
            font-family: "Roboto";
            font-weight: 900;

            @include media-breakpoint-down('sm') {
                text-align: left;
            }

            @include media-breakpoint-up('md') {
                text-align: center;
                font-size: 48px;
                line-height: 52px;
            }
        }

        @include media-breakpoint-up('md') {
            margin: 80px 0;
        }

        @include media-breakpoint-up('lg') {
            margin: 120px 0;
        }
    }

    .usp-bubbles {
        @include media-breakpoint-down('xs') {
            display: inline-block;
        }
        @media only screen and (max-width: 400px) {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .usp-xmas {
        > svg {
            @include media-breakpoint-down('sm') {
                &.ico-snowflake-3 {
                    max-width: rem(35);
                    top: -18px;
                    right: 12px;
                }
                &.ico-snowflake-2 {
                    max-width: rem(30);
                    bottom: rem(-12);
                    left: rem(9);
                }
            }
        }
    }

    .usp-bubble {
        position: relative;
        width: 120px;
        height: 120px;
        padding: 1rem;
        border-radius: 9999px;
        color: #fff;
        text-align: center;
        float: left;

        @keyframes breathe {
            0% {
                transform: scale(1);
            }
            70% {
                transform: scale(1);
            }
            85% {
                transform: scale(1.05);
            }
            100% {
                transform: scale(1);
            }
        }
        animation: breathe 2.5s infinite ease-in-out;

        transition: transform .45s ease-in-out;

        &:hover {
            animation: 0;
            transform: scale(1.05);
        }

        @include media-breakpoint-down('sm') {
            .h2.h2, .h1.h1 {
                font-size: rem(14);
                margin-bottom: 0;
            }
        }
        @include media-breakpoint-up('sm') {
            float: none;
            display: inline-block;
            margin-left: 20px;
            margin-right: 20px;

        }
        @include media-breakpoint-up('md') {
        }

        @include media-breakpoint-up('md') {
            width: 220px;
            height: 220px;
            margin-left: 40px;
            margin-right: 40px;
        }
        @include media-breakpoint-up('lg') {
            display: block;
            position: absolute;
            margin: 0;
        }

        .usp-title {
            margin: 0;
            @include center-align;
            font-size: 1.125rem;
            line-height: 1.25;

            .h2 {
                @include media-breakpoint-up('sm') {
                    margin-bottom: 0.5rem;
                }
            }

            @include media-breakpoint-up('md') {
                font-size: $font-size-lg;
            }
        }
    }

    .usp-student {
        z-index: 1;
        background-color: rgba($brand-primary, 0.75);
        animation-delay: -.2s;

        .ico-klarna-logo {
            width: auto;
            height: 16px;
            margin-bottom: -1px;

            @include media-breakpoint-down('sm') {
                height: rem(10);
            }

            * {
                fill: #fff;
            }

            @include media-breakpoint-up('md') {
                //height: 24px;
            }
        }

        @include media-breakpoint-up('lg') {
            left: 40px;
            bottom: 80px;
        }
    }

    .usp-organization,
    .usp-xmas {
        @include media-breakpoint-down('xs') {
            margin-top: 60px;
            margin-left: -30px;
        }
        @media only screen and (max-width: 400px) {
            margin-top: 110px;
            margin-left: -50px;
            margin-bottom: 20px;
        }
        @include media-breakpoint-up('lg') {
            top: 120px;
            right: 60px;
        }
        @include media-breakpoint-down('sm') {
            margin-top: 30px;
            margin-left: -10px;
            margin-bottom: 20px;
        }
    }

    .usp-organization {
        background-color: rgba($brand-success, 0.75);
    }

    .usp-xmas {
        background-color: rgba($xmas-primary, 0.75);

        .usp-title > * {
            font-weight: 700;
            margin-bottom: .5rem;

            &.h2 {
                font-weight: 600;
                color: $xmas-secondary;
            }
        }

        svg {
            position: absolute;
            z-index: 1;
            color: $gray-lighter;
            bottom: 0;
            left: -1rem;

            + svg {
                bottom: auto;
                left: auto;
                top: 0;
                right: 0;
            }
        }
    }

    .usp-student {
        > svg {
            position: absolute;
            z-index: 1;
            color: $gray-lighter;
            bottom: 2rem;
            right: -1.5rem;
            @include media-breakpoint-down('sm') {
                &.ico-snowflake-3 {
                    max-width: rem(35);
                    top: -18px;
                    left: 12px;
                }
                &.ico-snowflake-2 {
                    max-width: rem(30);
                    bottom: 0;
                    right: 0;
                }
            }

            + svg {
                bottom: auto;
                left: auto;
                top: 0;
                left: 0;
            }
        }
    }

    .landing-search-container {
        position: relative;
        z-index: 1;

        @include media-breakpoint-up('md') {
            margin-bottom: 120px;
        }

        .card {
            margin: 0;
            background-color: transparent;
            border-radius: 0;
            border: 0;
            box-shadow: none;

            @include media-breakpoint-down('sm') {
                box-shadow: none;
            }

            .landing-search-vehicle {
                @include media-breakpoint-down('md') {
                    margin-bottom: 1.3rem;
                }
            }

            .search-filter-vehicle {
                display: flex;
                justify-content: space-between;

                .search-filter-vehicle-wrapper {
                    position: relative;
                    height: 65px;
                    text-align: center;
                    z-index: 1;
                    flex:1;
                
                    &.active {
                        background-color: $color-main-active-element;
                        border-radius: 5px;
                    }
                }
            }

            .landing-search-dropdown {
                padding: 0;

                @include media-breakpoint-up('lg') {
                    padding: 0 12px;
                }
            }

            .btn .btn-black {
                margin-top: 2rem;
                float: right;
            }
        }
    }

    #latest,
    #upcoming {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    @include media-breakpoint-down('sm') {
        .landing-search-container {
            .card {
                > div.col {
                    width: 50%;
                    margin-bottom: 1.25rem;

                    &:last-of-type {
                        width: 100%;
                    }
                }

                .btn {
                    margin: 0;
                    width: 100%;
                }
            }
        }
        #latest.container,
        #upcoming.container {
            width: auto;
            padding-left: $grid-gutter-width-base;
            padding-right: $grid-gutter-width-base;
        }
    }

    @include media-breakpoint-down('xs') {
        .landing-search-container {
            text-align: center;

            .card {
                > div.col {
                    width: 100%;
                }
            }
        }
        #latest,
        #upcoming {
            .btn {
                margin-top: 0.75rem;
            }
        }
    }

    .upper-number {
        -moz-font-feature-settings: "lnum";
        -webkit-font-feature-settings: "lnum";
        font-feature-settings: "lnum";
    }

    #the-road-to-your-driving-licences {
        .container {
            overflow: hidden;
        }

        position: relative;
        background-color: $gray-lightest;

        .d-flex {
            display: flex;
            @include media-breakpoint-down('md') {
                display: block;
            }
        }

        .order-md-1 {
            order: 1;
        }

        .order-md-2 {
            order: 2;
        }

        .order-md-3 {
            order: 3;
        }

        .steps {
            position: relative;
            margin-top: 100px;
            margin-bottom: 100px;
            @include media-breakpoint-up('sm') {
                margin-top: 75px;
                margin-bottom: 75px;
            }
            @include media-breakpoint-up('lg') {
                // height: 200px;
                margin-top: 50px;
                margin-bottom: 0;
            }

            &:after {
                position: absolute;
                content: '';
                width: 24px;
                height: 50px;
                background-image: url(/build/img/road-part@2x.png);
                background-size: 24px;
                background-position-y: center;
                background-repeat: repeat-y;
                transform: translateX(-50%);
                left: 50%;
                bottom: -75px;
                @include media-breakpoint-up('md') {
                    height: 100px;
                    bottom: -125px;
                }
                @include media-breakpoint-up('lg') {
                    height: 175px;
                    transform: translateX(0) rotate(90deg);
                    top: -65px;
                    bottom: auto;
                    right: 0px;
                    left: auto;
                }

            }

            &.step-1 {
                .step-sign {
                    right: 0;
                }

                &:before {
                    display: none;
                }
            }

            &.step-3 {
                .step-sign {
                    right: $padding-default;
                }
            }

            &.step-4,
            &.step-7 {
                @include media-breakpoint-up('lg') {
                    .vertical-road {
                        position: absolute;
                        content: '';
                        width: 24px;
                        height: 225px;
                        background-image: url(/build/img/road-part@2x.png);
                        background-size: 24px;
                        background-position-y: center;
                        background-repeat: repeat-y;
                        bottom: 148px;
                    }
                }
            }

            &.step-4 {
                .vertical-road {
                    right: -16px;
                }
            }

            &.step-7 {
                .step-sign {
                    right: 0;
                }

                .vertical-road {
                    left: -16px;
                    bottom: 100px;
                }
            }

            &.step-6,
            &.step-7 {
                @include media-breakpoint-up('lg') {
                    &:before {
                        position: absolute;
                        content: '';
                        width: 24px;
                        height: 175px;
                        background-image: url(/build/img/road-part@2x.png);
                        background-size: 24px;
                        background-position-y: center;
                        background-repeat: repeat-y;
                        transform: translateX(0) rotate(90deg);
                        top: -65px;
                        left: -0px;
                    }
                }
            }

            &.step-9 {
                &:after {
                    display: none;
                }
            }
        }

        h4 {
            color: black;

            &:hover {
                color: black;
            }
        }

        .step-sign {
            display: none;;
            @include media-breakpoint-up('lg') {
                display: block;
                position: absolute;
                top: 40px;
                z-index: 2;
            }
        }

        .step-icon {
            position: relative;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 25px;

            .ico {
                stroke-width: 1px;
                width: 25px;
                height: 100%;
                opacity: 0.7;
                color: black;

                &:hover {
                    color: black;
                }
            }

            &.blue {
                background-color: $brand-primary;
                box-shadow: 0 0 12px rgba($brand-primary, 0.6);

                &:before,
                &:after {
                    border-color: $brand-primary;
                }
            }

            &.green {
                background-color: $brand-success;
                box-shadow: 0 0 12px rgba($brand-success, 0.6);

                &:before,
                &:after {
                    border-color: $brand-success;
                    filter: drop-shadow(0 0 6px rgba($brand-success, 0.6));
                }
            }

            &.yellow {
                background-color: $brand-warning;
                box-shadow: 0 0 12px rgba($brand-warning, 0.6);

                &:before,
                &:after {
                    border-color: $brand-warning;
                }
            }

            &.square {
                margin: 0 auto;
                border-radius: 4px;
                line-height: 50px;
            }

            &.hexagon {
                width: 50px;
                height: 28.87px;
                margin: 14.43px auto;

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    // z-index: -1;
                    width: 0;
                    border-left: 25px solid transparent;
                    border-right: 25px solid transparent;
                }

                &:before {
                    left: 0;
                    bottom: 100%;
                    border-bottom-style: solid;
                    border-bottom-width: 14.43px;
                }

                &:after {
                    top: 100%;
                    left: 0;
                    width: 0;
                    border-top-style: solid;
                    border-top-width: 14.43px;
                }
            }

            &.round {
                border-radius: 25px;
                margin: 0 auto;
            }

        }
    }

    #klarna {
        .card {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .ico-klarna-logo {
            margin-bottom: 0.5rem;
        }
    }

    .landing-search-container + #klarna {
        margin-top: 60px;
    }
}

@include media-breakpoint-up('lg') {
    #page-header {
        &.landing {
            .page-header-inner .header-item .nav-link {
                font-size: 0.875rem;
            }
        }
    }
}

.reset-size {
    font-size: 1rem !important;
}

.slogan {

    left: 0 !important;

    > h1, h2, h3, h4, h5 {
        text-shadow: 1px 1px 2px black;
    }

}

.bil {
    float: left;
    height: 65px;
    width: 85px;
}

.landing-block {
    .margin-top-mobile {
        @media only screen and (max-width: 400px) {
            margin-top: 3rem !important;
        }
    }
}

.landing-block-cards{
    @include media-breakpoint-down('md') {
        padding-bottom: 25px;
    }

    h3{
        height: 150px;
        @include media-breakpoint-down('md') {
            height: 210px;
        }
        @include media-breakpoint-down('sm') {
            height: unset!important;
        }
    }
}

.bottom-card-landing {
    height: 432px;
}

.mc {
    float: left;
    height: 65px;
    width: 110px;
    margin-left: 28px;
}

.moped {
    float: right;
    height: 65px;
    width: 94px;
}

.static-page-search-container{
    display: flex;
    padding: 10px;
    align-items: center;

    .search-input-container{
        flex:1;
    }
    
    .search-btn-container{
        margin-left: 12px;

        a{
            padding: 12px;
        }
    }
     
}

.prisjamforelse {
    color: $heading-dark;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 25px;
}

.search-page-img-parent {
    max-width: 800px;
}

.search-page-img {
    width: 100%;
}
