.post-card {
  padding: 80px 0;
  max-width: 100%;
  overflow: hidden;
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #6C6C6C;

  &__content {
    margin-top: 30px;
    word-break: break-word;

    img {
      width: 70%;
      max-width: 100%;
      height: auto;
    }

    blockquote {
      margin: 35px 0 0 0;
      font-style: italic;
      font-weight: 300;
      line-height: 34px;
      font-size: 14px;
      letter-spacing: 0.02em;
      color: #6C6C6C;
      padding: 35px;
      background: rgba(255, 255, 255, 0.5);

      strong {
        font-style: italic;
        font-weight: 500;
        line-height: 43px;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: #6C6C6C;
      }
    }

    strong, b {
      font-weight: bold;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 1em 0 0 0;
      font-weight: 500;
      line-height: 1.5em;
      font-size: 18px;
      letter-spacing: 0.02em;
      color: #6C6C6C;
    }

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }

    a {
      font-weight: 500;
      text-decoration: underline;
      cursor: pointer;

      &:hover, &:active, &:focus {
        font-weight: 500;
        text-decoration: underline;
      }
    }

    & > div {
      margin: 1em 0 0 0;
    }

    figcaption {
      display: none;
    }

    figure {
      margin: 1em 0 0 0;
    }

    pre {
      margin: 1em 0 0 0;
    }

    li {
      font-weight: 300;
      line-height: 34px;
      font-size: 14px;
      letter-spacing: 0.02em;
      color: #6C6C6C;

      ol {
        margin: 0;
      }
    }

    ol {
      margin: 1em 0 0 0;
      padding-left: 1.5em;
    }

    ul {
      margin: 1em 0 0 0;
      padding-left: 1.5em;
    }

    table {
      max-width: 100%;

      td {
        border: 1px solid #ccc;
        padding: 0.5em;
        line-height: 1em;
        font-size: 14px;
      }

      h1, h2, h3, h4, h5, h6 {
        font-size: 18px;
      }
    }
  }

  &__title {
    font-weight: bold;
    line-height: normal;
    font-size: 62px;
    letter-spacing: 0.02em;
    color: #111111;
  }

  &__meta {
    display: inline-block;
    font-style: italic;
    font-weight: 300;
    line-height: 29px;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #A5AAB3;
    margin-bottom: 10px;
  }

  &__guest {
    display: inline-block;
    font-weight: bold;
  }

  &__body {
    img {
      max-height: 500px;
    }

    .post-video {
      position: relative;

      &.has-iframe {
        padding-bottom: 39.375%;
        padding-top: 25px;
        height: 0;
        width: 70%;
        @media all and (max-width: 767px) {
          width: 100%;
          padding-bottom: 56.25%;
        }

        iframe {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          border: none;
        }
      }

      video {
        width: 70%;
        height: auto;
        @media all and (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }

  &__comments {
    margin: 70px -15px 0;

    label {
      font-size: 20px;
      font-weight: bold;
    }

    textarea {
      &.form-control {
        min-height: 60px;
        max-height: 200px;
        overflow-y: scroll;
        resize: none;
        width: 600px;
        max-width: 100%;

        &::-webkit-scrollbar {
          width: 6px;
        }

        &::-webkit-scrollbar-track {
          background: #dddddd;
        }

        &::-webkit-scrollbar-thumb {
          background: #999999;
          border-radius: 5px;
        }
      }
    }
  }
}
