@import url('https://fonts.googleapis.com/css?family=Raleway:100,600');
@import 'variables';

.vl-flex {
  display: flex;
}

.vl-flex-wrap {
  flex-wrap: wrap;
}

.vl-flex-column {
  flex-direction: column;
}
