
// ====================================
// Map
// ====================================

.map {
    background-color: $gray-lightest;
    overflow: hidden;

    > div {
        background-color: $gray-lightest !important;
    }
    .gm-style-iw + div {
        display: none;
    }

    .marker-content {
        background-color: #fff;
        margin: 0;
        cursor: pointer;

        p {
            margin-bottom: 0;
        }
    }
    .gmnoprint {
        left: auto;
        right: 0;
    }
}

.map-marker {
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 9999px;
    background-color: rgba($brand-primary, 0.25);
    transition: background-color #{$transition-speed} #{$transition-ease}, transform #{$transition-speed} #{$transition-ease};

    .map-marker-inner {
        @include center-align(absolute);
        width: 1rem;
        height: 1rem;
        border-radius: 9999px;
        background-color: $brand-primary;
        box-shadow: 0 0 6px 0 rgba($brand-primary, 0.5);
        transition: background-color #{$transition-speed} #{$transition-ease}, transform #{$transition-speed} #{$transition-ease};
    }

    &:hover, &.hover {
        transform: scale(1.1);
        background-color: rgba($gray-dark, 0.25);

        .map-marker-inner {
            background-color: $gray-dark;
            box-shadow: 0 0 6px 0 rgba($gray-dark, 0.5);
        }
    }

    &.focus {
        background-color: rgba($brand-success, 0.25);

        .map-marker-inner {
            background-color: $brand-success;
            box-shadow: 0 0 6px 0 rgba($brand-success, 0.5);
        }
    }
}
