
// ====================================
// Colors
// ====================================

/*
$state-success-bg:          mix($brand-success, white, 20%);
$state-success-text:        darken($brand-success, 15%);
$state-success-border:      $brand-success;

$state-info-bg:             mix($brand-info, white, 20%);
$state-info-text:           darken($brand-info, 15%);
$state-info-border:         $brand-info;

$state-warning-bg:          mix($brand-warning, white, 20%);
$state-warning-text:        darken($brand-warning, 15%);
$state-warning-border:      $brand-warning;

$state-danger-bg:           mix($brand-danger, white, 20%);
$state-danger-text:         darken($brand-danger, 15%);
$state-danger-border:       $brand-danger;
*/


$color-night: #232F3F;

$color-main-bg: #FFD4CD;
$color-main-active-element: #FFE8E4;
$color-dropdown-hover: #F8CDC6;
$color-dropdown-selected: $color-dropdown-hover;
