
// ====================================
// Compare
// ====================================

.comparison-table {
    .custom-checkbox {
        margin-bottom: 0;

        .custom-control-indicator {
            float: left;
            top: 0;
            margin-right: .75rem;
        }
        .custom-control-description {
            display: block;
            overflow: hidden;

            .label .ico-info {
                color: $brand-primary;
            }
        }
    }

    th, td {
        padding: 0.625rem 1rem;
        border: none;

        @include headings {
            margin-bottom: 0;
        }
    }
    thead {
        th, td {
            border: none;
            padding-top: 1.75rem;
            padding-bottom: 1.25rem;

            .h4 {
                margin-bottom: 0.5rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        th {
            vertical-align: bottom;
        }
        tr {
            @include media-breakpoint-up('md') {
                border-bottom: 1rem solid transparent;
            }
        }
    }
    tbody {
        tr {
            &:nth-child(even) {
                background-color: $gray-lightest;

/*
                td:last-child:before {
                    content: "";
                    position: absolute;
                    left: 100%;
                    top: 0;
                    bottom: 0;
                    width: 0.75rem;
                    background: $gray-lightest;
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }
*/
            }
/*
            &:last-child td:nth-child(even):after {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                height: 1rem;
                background: rgba($gray-lighter, 0.4);
                border-bottom-right-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }
*/
        }

        td {
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;

            &:nth-child(even) {
                background-color: rgba($gray-lighter, 0.4);
            }
        }
        .spacer {
            height: 0.5rem;
            background-color: transparent !important;

            * {
                padding: 0;
            }
            td:last-child:before {
                display: none;
            }
        }
    }

    .comment {
        overflow: hidden;
    }
    .price {
        text-align: center;
        @include media-breakpoint-up('md') {
            & {
                min-width: 135px;
            }
        }
    }
    .comparison-table-sum {
        background-color: $gray-lightest;

        td span {
            position: relative;
            vertical-align: middle;
            z-index: 2;
            border-radius: $border-radius;
            transition: all 0.25s ease-in-out;
        }
        .lowest-price {
            background-color: $brand-primary;
            padding: 1rem 1.5rem;
            white-space: nowrap;
            color: #fff;
        }
    }
    .invalid-info {
        margin-top: 0.75rem;
    }

    .asterisk {
        display: none;
    }

    @include media-breakpoint-down('sm') {
        > div {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
        tr {
            transition: all #{$transition-speed} #{$transition-ease};
        }

        thead {
            tr {
                display: block;

                &:nth-child(even) {
                    background-color: $gray-lightest;
                }
            }
            th, td {
                padding-top: 0.625rem;
                padding-bottom: 0.625rem;
            }
            th {
                display: inline-block;
                width: percentage(1/3);
                font-weight: 600;

                &.text-muted {
                    padding-bottom: 0;
                }
                a {
                    display: block;

                    .h4 {
                        margin-bottom: 0.25rem;
                        font-size: $font-size-sm;
                        color: $body-color;
                        text-overflow: initial;
                        white-space: initial;
                    }
                    span {
                        color: $body-color;
                    }
                }
            }
            .text-muted {
                display: block;
            }
        }
        tbody {
            tr:last-child td:nth-child(even):after {
                display: none;
            }
            th, tr {
                width: 100%;
                display: block;
            }
            th {
                padding-bottom: 0;
            }
            td {
                border: 0;
                padding-top: 0;
                display: inline-block;
                width: percentage(1/3);

                &:nth-child(even) {
                    background: none;
                }
            }
        }
        .comparison-segment {
            padding-left: 0;
            position: relative;

            h4 {
                color: $text-muted;
            }
        }
        .text-info {
            display: none;
        }
    }
}
.comparison-row {
    padding-left: 1rem;
    padding-right: 1rem;

    &:nth-child(even) {
        background-color: $gray-lightest;
        border-radius: $border-radius;
    }
    &:first-child .comparison-row-entries > .row > div:nth-child(odd) {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }

    .custom-control {
        margin-bottom: 0;
    }
}
.comparison-row-entries {
    > .row > div:nth-child(odd) {
        background-color: rgba($gray-lighter, 0.4);
    }
}
.comparison-cell {
    padding: 0.625rem 1rem;

    @include headings {
        margin-bottom: 0;
    }
}
